body {
    margin: 0;
    padding: 0;
}

:focus {
    outline: none;
}

ul {
    list-style: none;
}

header {
    left: 0;
    right: 0;
    top: 0;
    height: 100px;
    position: absolute;
    background-color: rgb(113, 168, 145);
}
#logo {
    float: left;
    display: inline-block;
    margin: 21px;
    margin-top: 30px;
}
#search {
    float: right;
    position: relative;
    display: inline-block;
    margin: 21px;
    margin-top: 40px;
    margin-right: 50px;
    width: 270px;
}
#search-field {
    display: inline-block;
    border-radius: 50px;
    width: 250px;
    padding-left: 8px;
    padding-right: 54px;
}
#search-button {
    position: absolute;
    left: 200px;
    display: inline-block;
    border-radius: 50px;
}

#main-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 100px;
    overflow-y: auto;
}
