<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="../static/layout.css">
    </head>
    <body>
        <header>
            <h1 id='logo'><a href="/index">Dem Parks Doh</a></h1>
            <div id="search">
                <input type="text" id="search-field">
                <input type="button" value='Search' id="search-button">
            </div>
        </header>
        <div id='main-content'>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
