{% extends 'layout.html' %}
{% block content %}
        <link rel="stylesheet" href="../static/park.css">
        <ul id='park-attributes'>
            {% for key in parky %}
                {% if key!='id' and key!='latitude' and key!='longitude' %}
                    <li class='park-attribute'><label>{{key}} </label>{{parky[key]}}</li>
                {% endif %}
            {% endfor %}
        </ul>
        <div id='map-data'>
            <h5 id="coordinates">{{parky['latitude']}}, {{parky['longitude']}}</h3>
            <div id="map"></div>
        </div>
        <script src='../static/park.js'></script>
        <script async defer
            src="https://maps.googleapis.com/maps/api/js?key={{config['GOOGLE_BROWSER_API_KEY']}}&callback=setMap">
        </script>
{% endblock %}
